@import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans';
}

p{
    font-size: 20px;
}

span{
    font-weight: bold;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #b79492;
}

.wrapper{
    height: 600px;
    width: 600px;
    padding: 20px; 
    background: #EAE1DF;
    border-radius: 14px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
}

.karty, .karta, .view, .menu{
    display: flex;
    align-items: center;
    justify-content: center;
}

.karty{
    height: 100%;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
}

.karty .karta{
    cursor: pointer;
    position: relative;
    perspective: 900px;
    transform-style: preserve-3d;
    height: calc(100% / 3 - 10px);
    width: calc(100% / 4 - 10px);
}

.karta.shake{
    animation: shake 0.35s ease-in-out;
}

@keyframes shake {
    0%, 100% {
        transform: translateX(0);
    }
    20% {
        transform: translateX(-13px);
    }
    40% {
        transform: translateX(13px);
    }
    60% {
        transform: translateX(-8px);
    }
    80% {
        transform: translateX(8px);
    }
}

.karty .karta .view{
    width: 100%;
    height: 100%;
    user-select: none;
    pointer-events: none;
    position: absolute;
    background: #fff;
    border-radius: 14px;
    backface-visibility: hidden;
    transition: transform 0.25s linear;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.karta .front-view {
    color: #b79492;
    font-size: 100px;
    
}

.karta .back-view{
    transform: rotateY(-180deg);
}

.karta .back-view img{
    max-width: 85px;
}

.karta.obrot .back-view{
    transform: rotateY(0);
}

.karta.obrot .front-view{
    transform: rotateY(180deg);
}

.menu{
    margin-top: 26px;
    margin-left: -20px;
    width: 600px;
    padding: 14px; 
    background: #EAE1DF;
    border-radius: 14px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
}

.menu .material-icons {
    border-radius: 14px;
    background: #fff;
    color: #b79492;
    font-size: 40px;
    border: 2px solid #b79492;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
}

.menu .material-icons:hover{
    color: #fff;
    background: #b79492;
    border-radius: 14px;
    cursor: pointer;
}

.menu .time, .obroty{
    white-space: nowrap;
    margin-left: 30px;
    color: #b79492;
}

.menu .reset{
    font-weight: bold;
    height: 44px;
    margin-left: 184px;
    cursor: pointer;
    font-size: 18px;
    color: #b79492;
    border-radius: 14px;
    padding: 2px 11px;
    background: #fff;
    border: 2px solid #b79492;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
}

.menu .reset:hover{
    color: #fff;
    background: #b79492;
}

.audio{
    height: 80px;
}
